.selectGenre {
    position: absolute;
    z-index: 1;
    width: 113px;
    height: 50px;
    left: 558px;
    right: 0px;
    top: 22px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 1px solid #979797;
    border-radius: 0px;
    
    }
    
    .titleAndArrow {
        display:flex;
        justify-content: space-between;
        margin: 12px 16px;
    }

    .selectGenreSize {
        position: relative;
        z-index: 1;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left:12px;
        width: 113px;
        height: 151px;
        margin-top: 20px;
        background: #FFFFFF;
        border: 1px solid #979797;
        box-sizing: border-box;
        }

.closingArea {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}