.selectRatingSize {
position:relative;
z-index: 1;
display:flex;
flex-direction: column;
justify-content: space-between;
width: 236px;
height: 303px;
margin-top: 20px;
background: #FFFFFF;
border: 1px solid #979797;
box-sizing: border-box;
  li {
    list-style: none;
    width: 100%;
     }
}